.header {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #f0f2f5;
  border-bottom: 1px solid #ddd;
  justify-content: flex-start;
  height: 3rem;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
  /* width: 100%; */
}

.select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
}

.backButton {
  background-color: rgb(183, 208, 255);
  border: 1px solid rgb(129, 129, 129);
}

.addButton {
  background-color: rgb(203, 255, 183);
  border: 1px solid rgb(129, 129, 129);
}

.editButton {
  background-color: rgb(255, 230, 183);
  border: 1px solid rgb(129, 129, 129);
}

.deleteButton {
  background-color: rgb(255, 184, 163);
  border: 1px solid rgb(129, 129, 129);
}

.icon {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   width: 60px;
   /* width: clamp(35px, 2.8vw, 65px); */
   height: 60px; 
   /* height: clamp(35px, 2.8vw, 65px); */
   border-radius: 10px;
   border: 0.05px groove rgb(161, 161, 161);
}

.icon:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.iconBlock {
  margin-left: auto;
}

.iconBlock .icon {
  margin-right: 8px;
}

.iconBlock .icon:last-child {
  margin-right: 0px;
}
